<html>
    <head>
        {% block head %}
            <title>Foodfy</title>
        {% endblock %}
            <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <div class="title">
                <a href="/index.html"><img src="/assets/logo.png" alt="logo" class="logo"></a>
                <a href="/sobre.html" class="nav-title">Sobre</a>
                <a href="/receitas.html" class="nav-title">Receitas</a>
            </div>
        </header>

        {% block content %}{% endblock %}

        {% block footer %}
            <footer>
                <p>Todos os direitos reservados, receitas Foodfy</p>
            </footer>

        {% endblock %}
            <script src="script.js"></script>
    </body>
</html>