{% extends "layout.njk" %}
{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
    <h2 class="h2">Gerenciar receitas</h2>
    <section class="menu-recipes">
        {%for item in items%}
            <div class="card-recipes" id="{{item.id}}">
                <img src="{{item.image}}" alt="{{item.title}}" class="cardapio-img" id="{{item.id}}">
                <div class="text">

                    <h3>{{item.title}}</h3>
                    <p>por {{item.author}}</p>
                    <a href="/admin/recipes/{{item.id}}" class="view">Visualisar</a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}