{% extends "layout.njk" %}

{% block content %}
    <section class="content">
        <div class="recipes">
            <img src="{{items.image}}" alt="{{items.title}}">
        </div>
    </section>
    <div class="title">
        <h1>{{items.title}}</h1>
        <p>{{items.author}}</p>
    </div>

    <div class="toggle">
        <h2>Ingredientes</h2>
        <p class="card-hide hide-ingredientes" id="0">ESCONDER</p>
    </div>

    <div class="card-text ingredientes">
        <ul>
            {%for ingredient in items.ingredients%}
            <li>{{ingredient}}</li>
            {%endfor%}
        </ul>
    </div>

    <div class="toggle">
        <h2>Modo de preparo</h2>
        <p class="card-hide hide-preparo" id="1">ESCONDER</p>
    </div>
    <div class="card-text preparo">
        <ol>
            {%for prepare in items.preparation%}
            <li>{{prepare}}</li>
            {%endfor%}
        </ol>
    </div>

    <div class="toggle">
        <h2>Informações adicionais</h2>
        <p class="card-hide hide-info" id="2">ESCONDER</p>
    </div>
    <div class="card-text info">
        <p>
            {{items.information}}
        </p>
    </div>
    <script src="/script.js"></script>
{% endblock %}